.layer-icon.accessibility_yes path {
    fill: #6ecc39;
}

.layer-icon.cluster {
    background: rgba(8, 45, 135, 0.9);
    border-radius: 100%;
    border: 1px solid rgb(3, 26, 87);
    padding: .5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-icon.cluster svg {
    border-radius: 100%;
}

.layer-icon.cluster path {
    fill: white !important;
}

.layer-icon.accessibility_no path, .layer-icon.accessibility_no g path {
    fill: #d9363e !important;
}

.layer-icon.accessibility_limited path {
    fill: #ffc53d !important;
}

.layer-icon.accessibility_unknown path, .layer-icon.accessibility_unknown g path {
    fill: #454545;
}

.layer-icon svg {
    width: 100%;
    height: 100%;
}

.ant-btn:hover .anticon path, .ant-btn:hover .anticon rect {
    fill: #40a9ff !important;
}

.ant-btn-primary .anticon path,
.ant-btn-primary .anticon rect,
.ant-btn-primary:hover .anticon path,
.ant-btn-primary:hover .anticon rect {
    fill: #fff !important;
}

.ant-drawer {
    z-index: 1020;
}
