body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-search .ant-input-group-addon {
  display: none;
}

/*.markercluster-map { height: 90vh; }*/

.current-position {
}

.current-position:before {
   content: '';
   position: relative;
   display: block;
   width: 200%;
   height: 200%;
   box-sizing: border-box;
   margin-left: -50%;
   margin-top: -50%;
   border-radius: 100%;
   background-color: #01a4e9;
   animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
 }

.current-position:after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   display: block;
   width: 100%;
   height: 100%;
   background-color: #1890ff;
   border-radius: 100%;
   box-shadow: 0 0 8px rgba(0,0,0,.3);
   animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
 }

@keyframes pulse-ring {
  0% {
    transform: scale(.33);
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}